
body{
    text-align: center;
    background-color: rgb(12, 26, 56);
    font-family: 'Roboto', sans-serif;
}

h1{
    color: white;
}

form{
    
    font-size: large;
    padding: 10px;
    width: 60%;
    margin: auto;
    background-color: white;
    text-align: center;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

label{
    margin-right: 10px;

}

#name, #college {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color:rgb(176, 195, 234);
    margin:5px auto;
    font-size: 17px;
    text-align: center;
    border: solid black 1px;
}

#college{
    width: 450px;
}

.name, .college, .exp{
    font-weight: bold;
    font-size: 20px;
}




p{
    margin-bottom:5px;
    font-weight: bold;
    font-size: 20px;
}

textarea{
    border-radius: 10px;
    margin: 10px auto;
    font-size: 20px;
    background-color: rgb(176, 195, 234);
    color:rgb(88, 89, 91)
}

.submit{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(29, 29, 95);
    color: white;
}

