*{
    box-sizing: border-box;
}
body{
    /* background: url('https://tse1.mm.bing.net/th?id=OIP.dNYcCCppSwm-lmvJgRqoWAHaF1&pid=Api&P=0');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(12, 26, 56);
    font-family: 'Roboto', sans-serif;
}
.signup-box{
    width: 360px;
    height: 620px;
    margin:50px  auto;
    background-color: #fff;
     border-radius: 10px;
    /*box-shadow: 0 20px 35px rgba(0, 0, 0,0.1); */
}
h1{
    text-align: center;
    padding-top: 5px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    border: black;
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 4.5px;
    border: none;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 10px;
    border: none;
    background-color: #49c1a2;
    font-size: 25px;
    cursor: pointer;
}
input[type="button"]:hover{
    background-color: #66AD47;
}
input[type="button"]:active{
    background-color: #35BDD0;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
}
.para-2{
    text-align: center;
    color: rgb(12, 12, 12);
    font-size: 15px;
    /* margin-top: -1px; */
}
.para-2 a{
    color: #49c1a2;
}